.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.vscode
/.vs
/calendario.ics
/data/config
/log
/librerias/__pycache__
/BotGuardianes.pyproj
/modulos/__pycache__
/.vs/
/tests/.pytest_cache/
/site/
/.pytest_cache/
/data/
/tests/data/
